*{
    margin: 0;
    padding: 0;
}

:root{
    --darkblue: #0c1d2a;
    --teel: #20737d;
    --lightblue: #7cadaf;
    --cream: #cad9d1;
}

body{
    background-color: var(--cream);
}

nav{
    background-color: var(--lightblue);
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

h1{
    padding-left: 6vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 1.8vw;
    font-family: Tahoma;
}

.nav-links{
    font-family: Tahoma;
    font-size: 1.1vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5vh;
    gap: 5vw;
}

header{
    margin-top: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkblue);
    color: var(--cream);
    margin-left: 25vw;
    font-size: 1.6vw;
    font-family: Tahoma;
    width: 50vw;
    height: 6vh;
}

main{
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
}

h3{
    padding-top: 2vh;
    font-family: Tahoma;
    font-size: 2vh;
    display: flex;
    justify-content: center;
}

.aktuellt{
    background-color: var(--teel);
    width: 17vw;
    height: 30vh;
}

.text{
    text-align: justify;
    text-justify: inter-word;
    padding-top: 1vh;
    padding-right: 1vw;
    padding-left: 1vw;
    font-family: Arial;
    font-size: 1vw;
}
