*{
    margin: 0;
    padding: 0;
}

:root{
    --darkblue: #0c1d2a;
    --teel: #20737d;
    --lightblue: #7cadaf;
    --cream: #cad9d1;
}

body{
    background-color: var(--cream);
}

nav{
    background-color: var(--lightblue);
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

h1{
    padding-left: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.8vw;
    font-family: Tahoma;
}

.nav-links{
    font-family: Tahoma;
    font-size: 1.1vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 7rem;
    gap: 7rem;
}

main{
    margin-left: 29vw;
    margin-top: 16vh;
    background-color: var(--teel);
    width: 42vw;
    height: 58vh;
    
}

h2{
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    font-size: 1.6vw;
    font-family: Tahoma;
}

.omForetag{
    padding: 2vh;
    font-size: 0.9vw;
    font-family: Arial;
    display: flex;
    justify-content: space-around;
}
